@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-custom: #f6f3f0;
  --primary-color: #f0e4d3;
  --primary-color2: #ffeedb;
  --primary-color3: #ada8b6;
  --primary-color4: #76a1b3;
  --primary-color5: #e1eef9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: var(--background-custom); */
}
