@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-bg: #ecf0f9;
  --primary-color: #e4ebf5;
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;
  --white: #ffffff;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
  --basic-color: #505c7a;
  --greyDark-color: #74767a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--basic-color);
  background: var(--primary-bg);
}

body::-webkit-scrollbar {
  display: none;
}

.accent_text {
  @apply text-[#6d5dfc];
}
.accent_text_b {
  @apply font-bold text-[#6d5dfc];
}
