@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: #0697f8;
  --primary-bg: #fafafa;
  --primary-light: #2cb4ec;
  --primary-hard: #1256d7;
  --white: #ffffff;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
  --basic-color: #505c7a;
  --greyDark-color: #74767a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--basic-color);
  background: #fff;
}

body::-webkit-scrollbar {
  display: none;
}

.accent_text {
  @apply text-[var(--primary)];
}
.accent_text_b {
  @apply font-bold text-[var(--primary)];
}
.list_style {
  @apply pl-4 pb-2 relative before:content-[''] before:inline-block before:absolute before:w-1.5 before:h-1.5 before:bg-primary before:rounded-full before:top-[12px] before:left-0 before:-translate-y-1/2;
}

.container_Gird {
  display: grid;
  grid-template-columns: minmax(2, 1fr);
  grid-template-rows: minmax(50px, auto);
  grid-gap: 30px;
  grid-template-areas:
    'a a b c'
    'a a d e';
}

.topics_Top01 {
  grid-area: a;
}

.topics_Top02 {
  grid-area: b;
}

.topics_Top03 {
  grid-area: c;
}

.topics_Top04 {
  grid-area: d;
}

.topics_Top05 {
  grid-area: e;
}
